main{
  padding-top: 110px;
}

.main_container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 137px;
}



.info_block{
  max-width: 512px;
}

.main_title{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  color: #fff;
  margin: 33px 0 36px 0;
}


.main_text{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #fff;
  opacity: 0.8;
  margin-top: 30px;
}

.btn_dwnld{
  margin-top: 44px;
  height: 42px;
  width: 135px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}


.singup_block{
  width: 360px;
  background-color: #fff;
  height: 365px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.singup_block_title{
  background-color: #F5F5F5;
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singup_block_title p{
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.singup_block_title p span{
  color: #FF8B38;
}

.singup_block input{
  width: 285px;
  height: 30px;
  background-color: #fff;
  border-bottom: 1px solid #BDBDBD;
}

.btn_get_started{
  background-color: #FF9B51;
  height: 54px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}