.picture{
  background-color: #F5F5F5;
}

.picture_container{
  display: flex;
  padding: 75px 0;
}
.picture_info_block{
  max-width: 50%;
}

.picture_info_block p{
  color: #86878B;
}

.picture_info_block p > span{
  display: block;
  margin-top: 15px;
}

.picture_img_block img{
  max-width: 100%;
}